<br/>
<div class="card">
   <div class="card-body">
        <form method="GET" action="/authors" autocomplete="off">
            <div class="form-group">
                <label> Search Author </label>
                <input class="form-control" type="text" name="name" value="<%= searchOptions.name %>" />
            </div>
            <button class="btn btn-primary" > Submit </button>
        </form>
   </div>
</div>
<br/>
<ul class="list-group" >
    <% authors.forEach(function(author,index){ %>
        <li class="list-group-item"> <%= author.name  %> 
           <span style="float: right" >
                <a href="/authors/<%= author.id %>" class="btn btn-primary" > View </a>
                <a href="/authors/<%= author.id %>/edit" class="btn btn-info"> Edit </a>
                <%- include('../partials/_deleteForm.ejs',{"url":`/authors/${author.id}`}) %>
           </span>
        </li>
    <% }) %>
</ul>