<br/>
<h2> <%= author.name %> </h2>
<br/>
 <a class="btn btn-primary" href="/authors/<%=author.id%>/edit"> 
    <i class="far fa-edit"></i> Edit 
 </a> &nbsp;
 <%- include('../partials/_deleteForm.ejs',{url:`/authors/${author.id}`}) %>
 <% if(booksByAuthor.length) { %>
    <br/><br/>
    <div class="p-3 mb-2 bg-info text-white"> Books by Author </div>
    <div class="row">
        <% booksByAuthor.forEach((book,index) =>{ %>
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;margin-bottom: 20px;margin-top: 20px">
                    <img height="381" src="<%= book.coverImagePath %>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"> <%= book.name %> </h5>
                        <p class="card-text"> <%=book.description %> </p>
                        <a href="/books/<%= book.id %>" class="btn btn-primary"> <i class="fas fa-eye"></i> View </a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
 <% } %>